<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
    <p>
      The site is currently being updated.
    </p>
  </head>
  <body>
<h2>BRB</h2>
  </body>
</html>
